<!DOCTYPE html>
<html>
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
​
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
        <script src="js/fruits_and_veggies_test.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="myApp">
        <div class="container" ng-controller="foodCtrl">
            <h1>Fruit and Veggies</h1>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Fruits</h3>
                        <div class="well text-center space" ng-repeat="frutas in fruitHolder track by $index" ng-class="colorChange">
                              <span>{{ frutas }}</span>!
                          <button ng-click="moveRight($index)">-></button>
                          <div>
                              <button ng-click="moveUpLeft($index)">Up</button>
                              <button ng-click="moveDownLeft($index)">Down</button>
                          </div>
                        </div>
                </div>
                <div class="col-sm-4">
                    <h3>All Food</h3>
                      <div class="well text-center" ng-repeat="food in foodArray | orderBy: random track by $index" ng-class="colorChange">
                          <button ng-click="moveLeftFromMid($index)"><-</button>
                              {{ food }}
                          <button ng-click="moveRightFromMid($index)">-></button>
                          <div>
                              <button ng-click="moveUpMid($index)">Up</button>
                              <button ng-click="moveDownMid($index)">Down</button>
                          </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <h3>Veggies</h3>
                      <div class="well text-center space" ng-repeat="veg in vegHolder track by $index" ng-class="colorChange">
                          <div>
                              <button ng-click="moveLeft($index)"><-</button>
                              <button ng-click="moveUp($index)">Up</button>
                          </div>
                          <div>
                              <button ng-click="moveUpRight($index)">Up</button>
                              <button ng-click="moveDownRight($index)">Down</button>
                          </div>
                              <span>{{ veg }}</span>!
                      </div>
                </div>
            </div>
        </div>
    </body>
</html>
